.tts-button {
  cursor: pointer;
}

.quiz-correct-highlighted {
  background-color: #feb43f;
  border-radius: 5px;
}

mark,
.french {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 5px;
}